In [2]:
#Encoding ordinal data using LabelEncoder

import pandas as pd 
from sklearn.preprocessing import LabelEncoder

In [3]:
df= pd.read_csv("C:\\Users\\Dell\\Desktop\\AI Python Codes\\Datascience\\AmesHousing.csv")
df.head()

,Order,PID,MS SubClass,MS Zoning,Lot Frontage,Lot Area,Street,Alley,Lot Shape,Land Contour,...,Pool Area,Pool QC,Fence,Misc Feature,Misc Val,Mo Sold,Yr Sold,Sale Type,Sale Condition,SalePrice
0,1,526301100,20,RL,141.0,31770,Pave,NaN,IR1,Lvl,...,0,NaN,NaN,NaN,0,5,2010,WD,Normal,215000
1,2,526350040,20,RH,80.0,11622,Pave,NaN,Reg,Lvl,...,0,NaN,MnPrv,NaN,0,6,2010,WD,Normal,105000
2,3,526351010,20,RL,81.0,14267,Pave,NaN,IR1,Lvl,...,0,NaN,NaN,Gar2,12500,6,2010,WD,Normal,172000
3,4,526353030,20,RL,93.0,11160,Pave,NaN,Reg,Lvl,...,0,NaN,NaN,NaN,0,4,2010,WD,Normal,244000
4,5,527105010,60,RL,74.0,13830,Pave,NaN,IR1,Lvl,...,0,NaN,MnPrv,NaN,0,3,2010,WD,Normal,189900

In [6]:
df2=df[['Kitchen Qual','Bldg Type']]
df2

     Kitchen Qual Bldg Type
0              TA      1Fam
1              TA      1Fam
2              Gd      1Fam
3              Ex      1Fam
4              TA      1Fam
...           ...       ...
2925           TA      1Fam
2926           TA      1Fam
2927           TA      1Fam
2928           TA      1Fam
2929           TA      1Fam

[2930 rows x 2 columns]

In [7]:
le=LabelEncoder()
le.fit_transform(df['Bldg Type'])

array([0, 0, 0, ..., 0, 0, 0])

In [8]:
#Create a new coloumn to show the encoded data

df2['Bldg Type_encoded'] = le.fit_transform(df['Bldg Type'])
df2

ipykernel_launcher:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

     Kitchen Qual Bldg Type  Bldg Type_encoded
0              TA      1Fam                  0
1              TA      1Fam                  0
2              Gd      1Fam                  0
3              Ex      1Fam                  0
4              TA      1Fam                  0
...           ...       ...                ...
2925           TA      1Fam                  0
2926           TA      1Fam                  0
2927           TA      1Fam                  0
2928           TA      1Fam                  0
2929           TA      1Fam                  0

[2930 rows x 3 columns]